<html>
    <head>
        <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='css/favicon.png') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
        <title>Weather App</title>
    </head>
<meta charset="UTF-8">

<style type="text/css">
    body {
        background-image: url("{{ url_for('static', filename='css/weather-bg2.png') }}");
        background-repeat: no-repeat;
        background-size: 100%;
    }
</style>

<body>
    <script src="weather.py"></script>
    <div class="center">
        <br><br>
        <h1 style="font-family: pixel-title; font-size: 55px;">{{ header_val }}, {{ cn }}</h1>
        <h2 style="font-family: cornerofthesky; font-size: 55px;">{{ c_val }}</h2>
        <h2 style="font-family: pixel-title; font-size: 40px;">{{ weather_gen }}</h2>
        <br><br>
        <div id="box">
            <h2 style="font-family: cornerofthesky; font-size: 25px;">{{ f_val }}</h2>
            <h2 style="font-family: cornerofthesky; font-size: 25px;">Feels Like:</h2>
            <h2 style="font-family: cornerofthesky; font-size: 25px;">{{ fl_c }}, {{ fl_f }}</h2>
        </div>
    </div>

</body>
</html>
